* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

.quiz-display {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#button {
    font-size: 20px;
    color: white;
    background: darkblue;
    border-radius: 25px;
    padding: 20px;
    width: 20%;
    height: auto;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    
}

#high-score-link {
    font-size: 20px;
    display: inline;
    width: 50%;
    text-decoration: none;
    color: blueviolet;
    margin: 0;
}

#timer-display {
    text-align: right;
    display: inline;
    width: 50%;
    margin-left: 100px;
    margin-top: 0;
}