* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
    font-size: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

/* Removes bullet points from list elements */
li {
    list-style: none;
}

/* Creates a box that holds the main contents of each page and keeps them in the middle of the viewport */
.quiz-display {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.answer-box {
    color: white;
    background: darkblue;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: auto;
    text-decoration: none;
    margin: 20px;
}

/* Makes it so that the answer choices change color when the mouse hovers over them */
.answer-box:hover {
    background: blueviolet;
}

.score-input-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#button {
    color: white;
    background: darkblue;
    border-radius: 25px;
    padding: 20px;
    width: 20%;
    height: auto;
    text-decoration: none;
    margin: 20px;
    text-align: center;
}

/* Makes it so that the "Start Game" and "Home Page" buttons change color when the mouse hovers over them */
#button:hover {
    background: blueviolet;
}

#submit {
    color: white;
    background: darkblue;
    border-radius: 20px;
    border-color: white;
    padding: 10px;
    width: 20%;
    height: auto;
    text-decoration: none;
    margin: 20px;
    text-align: center;
}

#submit:hover {
    background: blueviolet;
}

#high-score-link {
    display: inline;
    width: 50%;
    text-decoration: none;
    color: blueviolet;
    margin: 0;
}

#timer-display, #timer-display-quiz {
    text-align: right;
    display: inline;
    width: 50%;
    margin-left: 100px;
    margin-top: 0;
}